body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

heading {
	padding-top: 15px;
	background-color: rgb(5, 5, 107);
	text-align: center;
	display: inherit;
	padding-bottom: 10px;
}
h1,
h2 {
	font-family: "Permanent Marker", cursive;
}
heading h1 {
	color: white;
	font-size: xxx-large;
}

heading img {
	border-radius: 100px;
	border: 10px solid white;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 10px 20px;
}
main img {
	max-width: 100%;
}
img.right {
	float: right;
}
h2 {
	font-size: 35px;
	color: rgb(109, 0, 0);
	margin: 40px 0 10px;
}

a {
	color: rgb(19, 170, 175);
}
a:hover {
	color: rgb(109, 0, 0);
}
footer {
	padding: 50px;
	background-color: rgb(5, 5, 107);
	text-align: center;
	line-height: 20px;
	color: white;
}
footer p {
	margin: 0px;
}
p.caption {
}
